APP_NAME="Edu Platform API"
APP_ENV=local
APP_KEY=base64:L0rDYItsAeyIcBHlto+8KbIs8l+RcJqTvXkRy3zG+y0=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
APP_TIMEZONE=Asia/Tehran
APP_VERSION=0.1.0

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

APP_API_RATE=60

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=edu_platform
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
#QUEUE_CONNECTION=sync

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

OTP_TTL=120# اعتبار کد (ثانیه)
OTP_LENGTH=6
OTP_REQUEST_LIMIT=3# چندبار در بازه‌ی OTP_WINDOW
OTP_VERIFY_LIMIT=5# نهایت تلاش برای وریفای
OTP_WINDOW=300# پنجره‌ی زمانی ریت‌لیمیت (ثانیه)
OTP_DRIVER=log# فعلاً لاگ، بعداً kavenegar/...

VITE_APP_NAME="${APP_NAME}"

SPOTPLAYER_API_KEY=YhD5yX/9FQzVTg+c6YHQ7gCtZAs=
SPOTPLAYER_LEVEL=-1
SPOTPLAYER_BASE_URL=https://panel.spotplayer.ir
SPOTPLAYER_LICENSE_ENDPOINT=/license/edit/
SPOTPLAYER_TEST=true
SPOTPLAYER_TIMEOUT=15
SPOTPLAYER_CONNECT_TIMEOUT=5
SPOTPLAYER_MAX_TRIES=6
